{% extends "baseLanding.twig" %}

{% block title %}Book details{% endblock %}

{% block content %}
    <div class="container position-sticky z-index-sticky top-0">
        <div class="row">
            <div class="col-12">
                <nav class="navbar navbar-expand-lg  blur blur-rounded top-0 z-index-fixed shadow position-absolute my-3 py-2 start-0 end-0 mx-4">
                    <div class="container-fluid px-0">
                        <a href="/" class="navbar-brand font-weight-bolder ms-sm-3" rel="tooltip" title="Designed and Coded by Creative Tim" data-placement="bottom">
                            Bookworm
                        </a>
                        <a class="btn btn-sm  bg-gradient-primary  btn-round mb-0 ms-auto d-lg-none d-block">Profile</a>
                        <button class="navbar-toggler shadow-none ms-md-2" type="button" data-bs-toggle="collapse" data-bs-target="#navigation" aria-controls="navigation" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon mt-2">
                <span class="navbar-toggler-bar bar1"></span>
                <span class="navbar-toggler-bar bar2"></span>
                <span class="navbar-toggler-bar bar3"></span>
              </span>
                        </button>
                        <div class="collapse navbar-collapse w-100 pt-3 pb-2 py-lg-0" id="navigation">
                            <ul class="navbar-nav navbar-nav-hover mx-auto">
                                <!-- Pages Account Blocks Docs -->
                                <li class="nav-item dropdown dropdown-hover mx-2">
                                    <a href="/catalogue" class="dropdown-item border-radius-md">
                                        <span class="ps-3">Catalogue</span>
                                    </a>
                                </li>
                            </ul>
                            <ul class="navbar-nav d-lg-block d-none">
                                {% if session %}
                                    <li class="nav-item">
                                        <a href="/profile"  onclick="smoothToPricing('pricing-soft-ui')">
                                            <img class="avatar avatar-sm avatar-scale-up shadow border-radius-lg border-0 active" src='{{ photo }}' alt="Profile Photo">
                                        </a>
                                    </li>
                                {% else %}
                                    <li class="nav-item">
                                        <a href="/sign-in" class="btn btn-sm  bg-gradient-primary  btn-round mb-0 me-1" onclick="smoothToPricing('pricing-soft-ui')">Sign In</a>
                                        <a href="/sign-up" class="btn btn-sm  bg-gradient-primary  btn-round mb-0 me-1" onclick="smoothToPricing('pricing-soft-ui')">Sign Up</a>
                                    </li>
                                {% endif %}
                            </ul>
                        </div>
                    </div>
                </nav>
                <!-- End Navbar -->
            </div>
        </div>
    </div>
    <!-- Imagen de fondo -->
    <header class="header-2">
        <div class="page-header min-vh-35 relative" style="background-image: url('/assets/img/curved-images/curved2.jpg')">
            <span class="mask bg-gradient-primary"></span>
            <div class="position-absolute w-100 z-index-1 bottom-0">
                <svg class="waves" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 24 150 40" preserveAspectRatio="none" shape-rendering="auto">
                    <defs>
                        <path id="gentle-wave" d="M-160 44c30 0 58-18 88-18s 58 18 88 18 58-18 88-18 58 18 88 18 v44h-352z" />
                    </defs>
                    <g class="moving-waves">
                        <use xlink:href="#gentle-wave" x="48" y="-1" fill="rgba(255,255,255,0.40" />
                        <use xlink:href="#gentle-wave" x="48" y="3" fill="rgba(255,255,255,0.35)" />
                        <use xlink:href="#gentle-wave" x="48" y="5" fill="rgba(255,255,255,0.25)" />
                        <use xlink:href="#gentle-wave" x="48" y="8" fill="rgba(255,255,255,0.20)" />
                        <use xlink:href="#gentle-wave" x="48" y="13" fill="rgba(255,255,255,0.15)" />
                        <use xlink:href="#gentle-wave" x="48" y="16" fill="rgba(255,255,255,0.95" />
                    </g>
                </svg>
            </div>
        </div>
    </header>
    <!-- End Imagen de fondo -->
    <!-- End Seccion de estadisticas -->
    <!-- START Section Show Book Details-->
    <section class="py-7">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-8 order-2 order-md-2 order-lg-1">
                    <div class="position-relative ms-md-5 mb-0 mb-md-7 mb-lg-0 d-none d-md-block d-lg-block d-xl-block h-75">
                        <img src="{{ book.getCoverImage }}" class="w-100 border-radius-xl mt-6 ms-5 position-absolute"  style="max-width: 500px; max-height: 720px;">
                    </div>
                </div>
                <div class="col-lg-5 col-md-12 ms-auto order-1 order-md-1 order-lg-1">
                    <div class="p-3 pt-0">
                        <h4 class="text-gradient text-info mb-0">Book details</h4>

                        <ul class="list-group">
                            <li class="list-group-item">
                                <h4 class="mb-4">Title: </h4>
                                <p>{{ book.getTitle }}</p>
                            </li>
                            <li class="list-group-item">
                                <h4 class="mb-4">Author: </h4>
                                <p>{{ book.getAuthor }}</p>
                            </li>
                            <li class="list-group-item">
                                <h4 class="text-gradient text-info mb-0">Advanced information: </h4>
                                <ul class="list-group-flush">
                                    <li class="list-group-item-white">
                                        <h6>Number of pages:</h6>
                                        <p>{{ book.getPageNumber }}</p>
                                    </li>
                                    <li class="list-group-item-white">
                                        <h6>Creation date:</h6>
                                        <p>{{ book.getCreatedAt|date("Y-m-d H:i:s") }}</p>
                                    </li>
                                    <li class="list-group-item-white">
                                        <h6>Last update:</h6>
                                        <p>{{ book.getUpdatedAt|date("Y-m-d H:i:s") }}</p>
                                    </li>

                                </ul>
                            </li>
                            <li class="list-group-item">
                                <h4 class="text-gradient text-info mb-0">Reviews and Ratings: </h4>
                                <p>Number of reviews: {{ reviews }}</p> <!-- Cambiado de numberOfRaitings a reviews -->
                                <p>Number of ratings: {{ numRaiting }}</p>
                                <p>Users rated({{ numberOfReviews }}) -> Overall rating: {{ rating }} / 5</p> <!-- Cambiado de averageRating a rating -->
                                {% set stars = rating %} <!-- Cambiado de averageRating a rating -->
                                {% for i in 1..5 %}
                                    {% if stars >= 1 %}
                                        <span class="fa fa-star checked"></span>
                                    {% elseif stars > 0 %}
                                        <span class="fa fa-star-half-o checked"></span>
                                    {% else %}
                                        <span class="fa fa-star-o"></span>
                                    {% endif %}
                                    {% set stars = stars - 1 %}
                                {% endfor %}

                            </li>
                            <style>
                                .checked {
                                    color: #fff674; /* Cambia el color de las estrellas a azul */
                                }
                            </style>

                        </ul>



                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <h1 class="text-center mb-4">Reviews of {{ book.title }}</h1>
            <hr class="horizontal dark mb-4">
            <ul class="list-unstyled">
                {% for loopIndex, review in arrayReviews %}
                    <li class="mb-4">
                        <div class="card">
                            <div class="card-body">
                                <style>
                                    .card-title{
                                        color: #0dcaf0;
                                    }
                                </style>
                                <h5 class="card-title">Review {{ loopIndex + 1 }}</h5>
                                <p class="card-text">{{ review.review_text }}</p>
                            </div>
                            <div class="card-footer">
                                <small class="text-muted">User: {{ review.username }}</small>
                            </div>
                        </div>
                    </li>
                {% endfor %}
            </ul>


            <form id="add-review-form">
                <div class="form-group">
                    <label for="review">Agregar revisión:</label>
                    <textarea class="form-control" id="review" name="review" rows="3" required></textarea>
                </div>
                <button type="submit" class="btn btn-primary">Agregar Revisión</button>
            </form>


            <div class="row mt-4">
                <div class="col-md-6">
                    <form id="delete-review-form"  style="display: inline;">
                        <button type="submit" class="btn btn-danger">Delete my Review</button>
                    </form>
                </div>
            </div>

        </div>


        <form id="add-rating-form" action="{{ url_for('addBookRating', {'id': bookId}) }}" method="POST">
            <div class="form-group">
                <label for="rating">Rating:</label>
                <div class="rating">
                    <input type="radio" id="star5" name="rating" value="5"><label for="star5" title="5 stars">5 stars</label>
                    <input type="radio" id="star4" name="rating" value="4"><label for="star4" title="4 stars">4 stars</label>
                    <input type="radio" id="star3" name="rating" value="3"><label for="star3" title="3 stars">3 stars</label>
                    <input type="radio" id="star2" name="rating" value="2"><label for="star2" title="2 stars">2 stars</label>
                    <input type="radio" id="star1" name="rating" value="1"><label for="star1" title="1 star">1 star</label>
                </div>
            </div>
            <button type="submit" class="btn btn-primary">Submit Rating</button>
        </form>

        <div class="row mt-4">
            <div class="col-md-6">
                <form id="delete-review-rating"  style="display: inline;">
                    <button type="submit"  class="btn btn-danger">Delete my Raiting</button>
                </form>
            </div>
        </div>

    </section>


    {% block scripts %}
        <script src="https://code.jquery.com/jquery-3.4.0.min.js" integrity="sha256-BJeo0qm959uMBGb65z40ejJYGSgR7REI4+CW1fNKwOg=" crossorigin="anonymous"></script>

        <script>
            $(document).ready(function() {
                $('#delete-review-form').submit(function(event) {
                    event.preventDefault();

                    $.ajax({
                        type: 'DELETE',
                        url: "{{ url_for('deleteBookReviews', {'id': book.id}) }}",
                        dataType: 'json'
                    })
                        .done(function(data) {
                            console.log(data);
                            window.location.reload();
                        })
                        .fail(function(error) {
                            console.error(error);
                        });
                });
            });
        </script>

        <script>
            $(document).ready(function() {
                $('#delete-review-rating').submit(function(event) {
                    event.preventDefault();

                    $.ajax({
                        type: 'DELETE',
                        url: "{{ url_for('deleteRating', {'id': book.id}) }}",
                        dataType: 'json'
                    })
                        .done(function(data) {
                            console.log(data);

                        })
                        .fail(function(error) {
                            console.error(error);
                        });
                });
            });
        </script>

        <script>
            $(document).ready(function() {
                $('#add-review-form').submit(function(event) {
                    event.preventDefault();



                    var reviewText = $('textarea[name=review]').val();


                    var payload = {
                        review_text: reviewText // clave -> valor
                    };

                    console.log(payload);
                    $.ajax({
                        type: 'PUT',
                        url: "{{ url_for('addBookReview', {'id': book.id}) }}",
                        data: payload,
                        dataType: 'json'
                    })
                        .done(function(data) {
                            console.log(data);
                            window.location.reload();
                            window.location.reload();
                        })
                        .fail(function(error) {
                            console.error(error);
                        });
                });
            });
        </script>
    {% endblock %}



{% endblock %}
