{% extends "base.twig" %}

{% block title %}Login{% endblock %}

{% block head %}
    <link rel="stylesheet" href="{{ full_url_for('home') }}/assets/css/styles.css"/>
    <style>
        .container {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
        }
    </style>
{% endblock %}

{% block content %}
    <div class="container">
        <div>
            {% if notifications is not empty %}
                {% for notification in notifications %}
                    <span data-cy="sign-in__message">{{ notification }}</span>
                {% endfor %}
            {% endif %}
            <h1>Welcome to LSCryptoNews</h1>
            <form class="form-group" action="{{ formAction }}" method="POST" data-cy="sign-in">
                <div class="form-group">
                    <input type="text" name="email" placeholder="Email" value="{{ formData.email }}" data-cy="sign-in__email">
                </div>
                <div class="form-group">
                    <input type="password" name="password" placeholder="Password" data-cy="sign-in__password">
                </div>
                <button class="button-primary" type="submit" data-cy="sign-in__btn">Login</button>
            </form>
            {% if formErrors['email'] %}
                <p data-cy="sign-in__wrongEmail">{{ formErrors['email'] }}</p>
            {% endif %}
            {% if formErrors['password'] %}
                <span class="text-danger" data-cy="sign-in__wrongPassword">{{ formErrors['password'] }}</span>
            {% endif %}
        </div>
    </div>
{% endblock %}
