{% extends "base.twig" %}

{% block title %}Register{% endblock %}

{% block head %}
    <link rel="stylesheet" href="{{ full_url_for('home') }}/assets/css/styles.css"/>
    <style>
        .container {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
        }
    </style>
{% endblock %}


{% block content %}
    <div class="container">
        <div>
            <h1>Sign up here!</h1>
            <form class="form-group" action="{{ formAction }}" method="{{ formMethod }}" data-cy="sign-up">
                <div class="form-group">
                    <label for="email">Email</label>
                    <input id="email" type="text" name="email" placeholder="example@example.com" value="{{ formData.email }}" data-cy="sign-up__email">
                    {% if formErrors['email'] %}
                        <span class="text-danger" data-cy="sign-up__wrongEmail">{{ formErrors['email'] }}</span>
                    {% else  %}
                        <span class="text-danger" data-cy="sign-up__wrongEmail">{{ formErrors['email'] }}</span>
                    {% endif %}
                </div>

                <div class="form-group">
                    <label for="password">Password</label>
                    <input id="password" type="password" name="password" placeholder="Enter your password" data-cy="sign-up__password">
                </div>

                <div class="form-group">
                    <label for="repeatPassword">Confirm Password</label>
                    <input id="repeatPassword" type="password" name="repeatPassword" placeholder="Confirm your password" data-cy="sign-up__repeatPassword">
                    {% if formErrors['repeatPassword'] %}
                        <span class="text-danger" data-cy="sign-up__wrongPassword">{{ formErrors['repeatPassword'] }}</span>
                    {% endif %}
                </div>

                <div class="form-group">
                    <label for="numBitcoins">Amount of Coins</label>
                    <input id="numBitcoins" type="text" name="numBitcoins" value="{{ formData.numBitcoins }}" data-cy="sign-up__coins">
                    {% if formErrors['numBitcoins'] %}
                        <span class="text-danger" data-cy="sign-up__wrongCoins">{{ formErrors['numBitcoins'] }}</span>
                    {% endif %}
                </div>

                <button class="button-primary" type="submit" data-cy="sign-up__btn">Sign Up</button>
            </form>
        </div>
    </div>
{% endblock %}
